@model Argos.ViewModels.Operative.AccountViewModel

@{
    ViewBag.Title = "Gestion de cuenta";
    ViewBag.Class = "fa fa-files-o";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>  



<hr />
<div id="aGeneral" class="col-md-4 panel-group">
   @Html.Partial("_AccountGeneral",Model)
</div>

<div class="col-md-8 small">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#aLocation">Ubicación</a></li>
        <li><a data-toggle="tab" href="#aPolicy">Poliza</a></li>
        <li><a data-toggle="tab" href="#aDevice">Dispositivo</a></li>
    </ul>

    <div class="tab-content">
        <div id="aLocation" class="tab-pane fade in active">
                @Html.Partial("_AccountAddress", Model.LocationViewModel)
        </div>
        <div id="aPolicy" class="tab-pane fade">
          @Html.Partial("_Policy", Model.PolicyViewModel)
        </div>
        <div id="aDevice" class="tab-pane fade">
          
        </div>
    </div>
</div>


