

/*****PANEL HEADING OVERRIDE*****/
.panel-warning > .panel-heading 
{
    color: #fff;
    background-color: #ffbb33;
    border-color: #ffbb33;
}

.panel-danger > .panel-heading 
{
    color: #fff;
    background-color: #c9302c;
    border-color: #c9302c;
}


.panel-success > .panel-heading 
{
    background: rgba(52, 73, 94, 0.94);
    color: #ECF0F1;
    border-color: rgba(52, 73, 94, 0.94);
}
